<%- include('../partials/header') %>
<div class="wrapper">
    <h1 class="center">Post</h1>
    <h2 class="center">Leave a response</h2>
   <div class="col s12 m7">
      <div class="card horizontal">
         <div class="card-image">
            <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
         </div>
         <div class="card-stacked">
            <div class="card-content">
               <h2><%= user.user %></h2>
              <% if(post.createdAt){%>
                <h5><%= user.createdAt.toLocaleString() %></h5>
             <% } %>
               <p class="post-headline"><%= post.headline %>
               <p><%= post.content %></p>
            </div>
            <div class="card-action">
            </div>
         </div>
      </div>
   </div>
   <form action="/users/comment/<%= post._id %>" method="POST">
      <div class="center">
         <input type="text" placeholder="Leave a comment" name="content">
         <input type="submit" class="btn-small">
      </div>
   </form>
   <% post.comments.forEach(function(comment){ %>          
   <div class="col s12 m7">
      <div class="card horizontal">
         <div class="card-image">
            <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
         </div>
         <div class="card-stacked">
            <div class="card-content">
               <% if (user.posts.length != 0) { %>
               <h2><%= user.user %></h2>
               <% } %>
               <p><%= comment.content %></p>
            </div>
            <div class="card-action">
            </div>
         </div>
      </div>
   </div>
   <% }); %>
</div>
