<%- include('../partials/header') %>
<h2 class="header"><%= user.user %></h2>
<% user.posts.forEach(function(post) { %>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= post.content %></p>
        </div>
        <div class="card-action">
          <a href="/users/edit/<%= post._id %>">Edit</a>
          <form action="/users/profile/<%= post._id %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn-small">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
<% }) %>

