<%- include('../partials/header') %>
<h1 class="center">Welcome Back <%= user.user %></h1>
<% user.posts.forEach(function(post) { %>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <% if (user.posts.length != 0) { %>
              <% if (user.posts.length != 0) { %>
                <h2><%= user.user %></h2>
                <% if(post.createdAt){%>
                  <h5><%= user.createdAt.toLocaleString() %></h5>
               <% } %>
              <% } %>
            <p class="post-headline"><%= post.headline %></p>
            <p><%= post.content %></p>
            <% } %>
        </div>
        <div class="card-action">
          <a class="accent" href="/users/edit/<%= post._id %>">Edit</a>
          <form action="/users/profile/<%= post._id %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn-small">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
<% }) %>

